<section class="background">
    <div class="container my-5">
        <div class="col">
            <div class="row my-3">
                <h2>My Game Logs</h2>
                <hr>
                <div id="search-container" class="row justify-content-between p-0 mb-2">
                    <div class="col">
                        <input type="text" id="search" class="form-control w-100"
                            placeholder="Enter name here... (Ex. Catan, Uno, Betrayal, etc.)" [(ngModel)]="value"
                            (keyup.enter)="search()">
                    </div>
                    <div class="col search-button">
                        <button type="submit" (click)="search()" class="btn btn-primary"><i class="fa fa-search"></i>
                            Search
                        </button>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Rating</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let gameLog of visibleGameLogs" class="clickable-row"
                            [routerLink]="['/gamelogs', gameLog._id]">
                            <td class="name-row">{{gameLog.bgaGameName}}</td>
                            <td>{{gameLog.date | date: 'MM-dd-y'}}</td>
                            <td *ngIf="gameLog.rating" class="rating-row">
                                <ng-container *ngFor="let i of [].constructor(gameLog.rating)">
                                    <i class="bi-heart-fill text-danger heart-icon"></i>
                                </ng-container>
                                <ng-container *ngIf="gameLog.rating != 5">
                                    <ng-container *ngFor="let i of [].constructor(5 - gameLog.rating)">
                                        <i class="bi-heart text-danger heart-icon"></i>
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td *ngIf="!gameLog.rating" class="rating-row">
                                <ng-container *ngFor="let i of [].constructor(5)">
                                    <i class="bi-heart text-secondary heart-icon"></i>
                                </ng-container>
                            </td>
                            <td class="note-row">{{gameLog.note}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="visibleGameLogs?.length == 0">No game logs found.</div>
            </div>
        </div>
    </div>
</section>