#gameLog-form {
  width: 600px;
  padding: 15px;
  background-color: #eee;
  border-radius: 0.5em;
  margin: 1em 1em 0 1em;
  height: fit-content;
}

.thumbnail {
  width: 300px;
}

.w-fit-content {
  width: fit-content !important;
}

textarea {
  height: 8em;
}

p {
  margin: 0 0 5px 0;
}

ngb-rating {
  margin: -10px 0;
  gap: 1px;
  font-size: 30px;
}

#game-name:hover {
  cursor: pointer;
}

#game-name i {
  font-size: 0.5em;
}

@media (max-width: 620px) {
  textarea {
    height: 16em !important;
  }
}
