#gameLog-form {
  width: 600px;
  padding: 15px;
  background-color: #eee;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-right: 1em;
  height: fit-content;
}

.thumbnail {
  width: 300px;
}

.w-fit-content {
  width: fit-content !important;
}

.text-goldenrod {
  color: goldenrod;
}

p {
  margin: 0 0 5px 0;
}
