#login-form {
  max-width: 600px;
  min-width: 300px;
  padding: 15px;
  background-color: #eee;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-right: 1em;
  height: fit-content;
  width: fit-content;
}

#error-container {
  max-width: 260px;
}

#game-shelf-icon {
  max-width: 100px;
}

.things-title {
  font-size: 400%;
  text-shadow: 3px 3px 3px black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
}

.auth-icon {
  max-width: 35px;
  max-height: 35px;
  min-height: 35px;
  min-width: 35px;
  margin: 0;
  padding: 0;
}

#google-icon:hover {
  background-color: lightgrey;
}

#twitter-icon i {
  padding-top: 3px !important;
  color: white;
}

.auth-btn {
  padding: 5px;
  border: 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}

.separator:not(:empty)::before {
  margin-right: 0.5em;
}

.separator:not(:empty)::after {
  margin-left: 0.5em;
}
