<div class="background">
    <div class="flex-column d-flex">
        <div class="d-flex justify-content-center mt-3">
            <img id="game-shelf-icon" src="../../../assets/gs-logo.png" alt="Game Shelf Icon">
        </div>
        <div class="d-flex justify-content-center">
            <form id="login-form" class="float-end card shadow">
                <h3>Welcome!</h3>
                <div>
                    <div [hidden]="!errorOccured" class="text-danger" id="error-container">
                        *{{errorMsg}}
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <label for="username">Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Email"
                                [(ngModel)]="email">
                        </div>

                        <div class="form-group mb-2">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                [(ngModel)]="password">
                        </div>
                    </div>

                    <div class="px-3 d-flex flex-column gap-2">
                        <div class="row">
                            <button type="submit" (click)="login()" class="btn btn-primary btn-sm">Login
                            </button>
                        </div>
                        <div class="row">
                            <a [routerLink]="['/register']" class="btn btn-secondary btn-sm">Register
                            </a>
                        </div>
                    </div>

                    <div class="separator text-secondary">Or Sign In Using</div>

                    <div class="d-flex justify-content-center gap-2">
                        <button id="google-icon" class="btn btn-light rounded-circle auth-btn" (click)="google()">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                                class="auth-icon">
                        </button>
                        <button id="facebook-icon" class="btn btn-primary rounded-circle auth-btn" (click)="facebook()">
                            <i class="fa fa-2x fa-facebook text-white"></i>
                        </button>
                        <button id="twitter-icon" class="btn btn-primary rounded-circle auth-btn" (click)="twitter()">
                            <i class="fa fa-2x fa-twitter text-white"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>