<div class="background">
    <div class="flex-column d-flex">
        <div class="d-flex justify-content-center mt-3">
            <img id="game-shelf-icon" src="../../../assets/gs-logo.png" alt="Game Shelf Icon">
        </div>
        <div class="d-flex justify-content-center">
            <form id="login-form" class="float-end card shadow">
                <h3>Welcome!</h3>
                <div>
                    <div [hidden]="!errorOccured" class="text-danger">
                        *{{errorMsg}}
                    </div>
                    <div>
                        <div class="form-group mb-2">
                            <label for="lg_username" class="sr-only">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="username"
                                [(ngModel)]="username">
                        </div>

                        <div class="form-group mb-2">
                            <label for="lg_password" class="sr-only">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="password"
                                [(ngModel)]="password">
                        </div>
                    </div>

                    <button type="submit" (click)="login()" class="btn btn-primary btn-sm">Login
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>