.flex-unset {
  flex: unset !important;
}

.w-fit-content {
  width: fit-content !important;
}

.thumbnail {
  width: 300px;
}

.text-goldenrod {
  color: goldenrod;
}

.heart-icon {
  margin-right: 1px;
}

.text-burnt {
  color: orangered;
}

.btn-xs {
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  border-radius: 0.2rem;
}

#description {
  min-width: 300px;
}

#info {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#info span {
  gap: 4px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}

#info i {
  width: 16px;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

@media (max-width: 620px) {
}
