<section class="background">
    <div class="container my-5">
        <div class="row my-3">
            <div class="col flex-unset w-fit-content">
                <img class="thumbnail" src="{{game.thumbnail}}" alt="Game Image">
            </div>
            <div class="col">
                <div class="row">
                    <h1>{{game.name}}</h1>
                </div>
                <div class="row">
                    <span><i class="fa fa-users"></i>{{game.minPlayers}}-{{game.maxPlayers}}</span>
                </div>
            </div>
        </div>
    </div>
</section>