<section class="background">
    <div class="container my-5">
        <div class="row my-3">
            <div class="col-md">
                <input type="text" id="search" class="form-control w-50" placeholder="Enter here..."
                    [(ngModel)]="search">
            </div>
            <div class="col-md">
                <button type="submit" (click)="discover()" class="btn btn-primary">Search
                </button>
            </div>
        </div>
        <div class="row my-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Year Published</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</section>