<section class="background">
    <div class="container my-5">
        <div class="row my-3">
            <div class="col-md-9">
                <input type="text" id="search" class="form-control w-100"
                    placeholder="Enter name here... (Ex. Catan, Uno, Betrayal, etc.)" [(ngModel)]="value">
            </div>
            <div class="col">
                <button type="submit" (click)="search()" class="btn btn-primary"><i class="fa fa-search"></i>
                    Search
                </button>
            </div>
        </div>
        <div class="row gap-5">
            <div class="col" [hidden]="!searched">
                <div class="row my-3">
                    <h2>Search Results</h2>
                    <table class="table table-striped">
                        <tbody>
                            <tr *ngFor="let game of searchGames">
                                <td class="thumbnail-cell"><img class="thumbnail" src="{{game.image}}" alt="Game Image">
                                </td>
                                <td>
                                    <div class="game-name"><strong>{{game.name}}</strong></div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="game-info"><i class="fa fa-users"></i>
                                                {{game.minPlayers}}-{{game.maxPlayers}}</div>
                                            <div class="game-info ">{{game.rating}} - released {{game.year}}</div>
                                        </div>
                                        <div class="col text-end">
                                            <button class="btn btn-success mx-3" (click)="addGameToShelf(game)"><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col" [hidden]="searched">
                <div class="row my-3">
                    <h2>Top 10 Popular Games</h2>
                    <table class="table table-striped">
                        <tbody>
                            <tr *ngFor="let game of popularGames">
                                <td class="thumbnail-cell"><img class="thumbnail" src="{{game.image}}" alt="Game Image">
                                </td>
                                <td>
                                    <div class="game-name"><strong>{{game.name}}</strong></div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="game-info"><i class="fa fa-users"></i>
                                                {{game.minPlayers}}-{{game.maxPlayers}}</div>
                                            <div class="game-info ">{{game.rating}} - released {{game.year}}</div>
                                        </div>
                                        <div class="col text-end">
                                            <button class="btn btn-success mx-3" (click)="addGameToShelf(game)"><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col" [hidden]="searched">
                <div class="row my-3">
                    <h2>Top 10 Trending Games</h2>
                    <table class="table table-striped">
                        <tbody>
                            <tr *ngFor="let game of trendingGames">
                                <td class="thumbnail-cell"><img class="thumbnail" src="{{game.image}}" alt="Game Image">
                                </td>
                                <td>
                                    <div class="game-name"><strong>{{game.name}}</strong></div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="game-info"><i class="fa fa-users"></i>
                                                {{game.minPlayers}}-{{game.maxPlayers}}</div>
                                            <div class="game-info ">{{game.rating}} - released {{game.year}}</div>
                                        </div>
                                        <div class="col text-end">
                                            <button class="btn btn-success mx-3" (click)="addGameToShelf(game)"><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>