#profile {
  flex-grow: unset;
}

.link {
  color: var(--bs-white);
  text-decoration: none !important;
  width: 120px; /* Change the value as needed */
  display: inline-block;
  text-align: center;
}

.link:hover {
  font-weight: bold;
  transition: font-weight 0.2s ease;
}

.link.active:hover {
  font-weight: unset !important;
}

.link.active {
  color: var(--bs-secondary);
}
