<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-2 position-absolute" href="#"><img class="logo mx-2" src="../../../assets/gs-logo.png"
            alt="Game Shelf Logo">Game Shelf</a>
    <div class="container-fluid w-100">
        <div class="d-flex justify-content-center w-100">
            <div class="d-flex justify-content-between">
                <a class="nav-link mx-auto link" [hidden]="user == undefined" [routerLink]="['/discover']"
                    routerLinkActive="active">Discover</a>
                <span class="nav-link separator mx-2" [hidden]="user == undefined">|</span>
                <a class="nav-link mx-auto link" [hidden]="user == undefined" [routerLink]="['/gameshelf']"
                    routerLinkActive="active">My Game Shelf</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="profile">
            <ul class="navbar-nav" style="position:absolute;right:0;margin-right:3em;">
                <li id="profile-dropdown" class="nav-item dropdown" [hidden]="user == undefined">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="user-full-name">{{user?.firstName}} {{user?.lastName}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><button class="dropdown-item" id="logout-button" (click)="logout()">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>