#profile {
  flex-grow: unset;
}

.logo {
  width: 24px;
}

.link {
  color: var(--bs-white);
  text-decoration: none !important;
  width: fit-content; /* Change the value as needed */
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.link:hover {
  color: var(--bs-blue);
  transition: color 0.2s ease;
}

.link.active {
  color: var(--bs-secondary);
}

nav {
  min-height: 56px;
}

/* responsive, form small screens, use 13px font size */
@media (max-width: 500px) {
  .navbar-brand span {
    display: none;
  }
}
