#profile {
  flex-grow: unset;
}

.link {
  color: var(--bs-white);
  text-decoration: none !important;
  width: fit-content; /* Change the value as needed */
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.link:hover {
  color: var(--bs-blue);
  transition: color 0.2s ease;
}

.link.active:hover {
}

.link.active {
  color: var(--bs-secondary);
}
